@mixin font ($size, $height: $size, $weight: 400, $style: normal) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}

@mixin columns ($width) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  >* {
    flex-basis: $width;
  }
}

@mixin transition-animation ($item) {
  transition: $item 0.3s ease-out;
}

@mixin media-laptop {
  @media screen and (max-width: $content-width) { @content }
}

@mixin media-tablet {
  @media screen and (max-width: $tablet-width) { @content }
}

@mixin media-mobile {
  @media screen and (max-width: $mobile-big-width) { @content }
}

@mixin media-mobile-small {
  @media screen and (max-width: $mobile-small-width) { @content }
}