html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  @extend %font-main;
  @include font($size: 1.6rem, $height: 2rem);
  background-color: $color-background;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow-y: hidden;
}