.icon {
  display: inline-block;
  
  &--play {
    width: 20px;
    height: 18px;
    background: url('../icons/play-icon.svg') center no-repeat;
    cursor: pointer;
  }

  &--arrow {
    width: 13px;
    height: 18px;
    background: url('../icons/arrow-pointer-icon.svg') center no-repeat;
    @extend %icon-tools;
  }

  &--snake {
    width: 20px;
    height: 18px;
    background: url('../icons/snake-icon.svg') center no-repeat;
  }
  
  &--heart {
    width: 18px;
    height: 18px;
    background: url('../icons/heart-icon.svg') center no-repeat;
    @extend %icon-tools;
  }

  &--clock {
    width: 15px;
    height: 18px;
    background: url('../icons/clock-icon.svg') center no-repeat;
  }
}